@import "variables";


.navbar{
  padding:10px 0;
  border-bottom: 1px solid $borderGray;
}


header{
  background-color: $headerGray;
  .container-fluid{
    width: 1000px;
  }
  .navbar-form .form-control{
    height:22px;
    width:360px;
  }
}

.small-avatar{
  img{
    width:20px;
    height: 20px;
    border-radius: 3px;
  }
}

.mega-octicon{
  font-size: 28px;
}

ul{
  list-style-type: none;
  display: inline-block;
  padding:0;
  margin:0;
}
.right-nav{
  float:right;
}

li{
  display: inline-block;
  margin: 5px;
  a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
  }
}

.octicon:hover{
  color:blue;
}


.octicon-triangle-down{
  font-size: 10px;
}
