@import "variables";


.navbar{
  padding:10px 0;
  border-bottom: 1px solid $borderGray;
}


header{
  background-color: $headerGray;
}

.small-avatar{
  img{
    width:20px;
    height: 20px;
    border-radius: 3px;
  }
}

.mega-octicon{
  font-size: 28px;
}

ul{
  list-style-type: none;
  display: inline-block;
  padding:0;
  margin:0;
}
.right-nav{
  float:right;
}

li{
  display: inline-block;
  a{
    text-decoration: none;
  }
}

.octicon:hover{
  color:blue;
}

input{
  height:26px;
  padding:2px;
  width:360px;
}
