header {
  background-color: #f5f5f5; }

.small-avatar img {
  width: 20px;
  height: 20px;
  border-radius: 3px; }

ul {
  list-style-type: none;
  display: inline-block; }

.right-nav {
  float: right; }

li {
  display: inline-block; }
  li a {
    text-decoration: none; }

.octicon:hover {
  color: blue; }

.profile img, .profile span {
  display: block; }

.profile img {
  width: 230px;
  height: 230px;
  border-radius: 6px; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font: Helvetica; }

header, footer, main, aside {
  border: 1px solid red; }

main, aside {
  display: inline-block;
  vertical-align: top; }

aside {
  float: left; }

.wrapper, .navbar {
  width: 980px;
  margin: auto; }

aside {
  width: 230px;
  margin: auto; }

main {
  width: 730px;
  margin: auto; }
